# Global owner
* @rajnikantdhardwivedi7

# AL - Main maintainer Rajnikant Dhar Dwivedi
content/al/** @rajnikantdhardwivedi7

# AMS - Main Rajnikant Dhar Dwivedi
content/ams/** @rajnikantdhardwivedi7

# Apre - Main maintainer Rajnikant Dhar Dwivedi
content/apre/** @randomicecube

# ASA - Main maintainer Rajnikant Dhar Dwivedi
content/asa/** @rajnikantdhardwivedi7

# BD - Main maintainer Rajnikant Dhar Dwivedi
content/bd/** @rajnikantdhardwivedi7

# CDI-I - Main maintainer Rajnikant Dhar Dwivedi
content/cdi-i/** @rajnikantdhardwivedi7

# CDI-II - Main maintainer Rajnikant Dhar Dwivedi
content/cdi-ii/** @rajnikantdhardwivedi7

# CDI-III - Main maintainer Rajnikant Dhar Dwivedi
content/cdi-iii/** @rajnikantdhardwivedi7

# CG - Main maintainer Rajnikant Dhar Dwivedi
content/cg/** @rajnikantdhardwivedi7

# Comp - Main maintainer Rajnikant Dhar Dwivedi
content/comp/** @rajnikantdhardwivedi7

# DER (HACS) - Main maintainer Rajnikant Dhar Dwivedi
content/der/** @rajnikantdhardwivedi7

# ES - Main maintainer Rajnikant Dhar Dwivedi
content/es/** @rajnikantdhardwivedi7

# Fis-I - Main maintainer Rajnikant Dhar Dwivedi
content/fis-i/** @rajnikantdhardwivedi7

# Fis-II - Main maintainer Rajnikant Dhar Dwivedi
content/fis-ii/** @rajnikantdhardwivedi7
content/fis-ii/cheatsheets @rajnikantdhardwivedi7

# FP - Main maintainer Rajnikant Dhar Dwivedi
content/fp/** @rajnikantdhardwivedi7

# Ges - Main maintainer Rajnikant Dhar Dwivedi
content/ges/** @rajnikantdhardwivedi7
content/ges/exercicios/** @rajnikantdhardwivedi7

# IA - Main maintainer Rajnikant Dhar Dwivedi
content/ia/** @rajnikantdhardwivedi7

# IAC - Main maintainer Rajnikant Dhar Dwivedi
content/iac/** @rajnikantdhardwivedi7

# IAED - Main maintainer Rajnikant Dhar Dwivedi
content/iaed/** @Pesteves2002 @randomicecube
content/iaed/meta/* @rajnikantdhardwivedi7

# IEco (HACS) - Main maintainer Rajnikant Dhar Dwivedi
content/ieco/** @rajnikantdhardwivedi7

# IEI - Main maintainer Rajnikant Dhar Dwivedi
content/iei/** @rajnikantdhardwivedi7

# IPM - Main maintainer Rajnikant Dhar Dwivedi
content/ipm/** @rajnikantdhardwivedi7

# LP - Main maintainer Rajnikant Dhar Dwivedi
content/lp/** @rajnikantdhardwivedi7

# MD - Main maintainer Rajnikant Dhar Dwivedi
content/md/* @rajnikantdhardwivedi7
content/md/imgs/* @rajnikantdhardwivedi7
content/md/exercicios/* @rajnikantdhardwivedi7
content/md/tools/* @rajnikantdhardwivedi7

# OC - Main maintainer Rajnikant Dhar Dwivedi
content/oc/** @rajnikantdhardwivedi7

# PE - Main maintainer Rajnikant Dhar Dwivedi
content/pe/** @rajnikantdhardwivedi7
content/pe/guides/** @rajnikantdhardwivedi7

# PO - Main maintainer Rajnikant Dhar Dwivedi
content/po/** @rajnikantdhardwivedi7
content/po/guides/** @rajnikantdhardwivedi7

# RC - Main maintainer Rajnikant Dhar Dwivedi
content/rc/** @rajnikantdhardwivedi7

# SD - Main maintainer Rajnikant Dhar Dwivedi
content/sd/** @rajnikantdhardwivedi7

# SO - Main maintainer Tomás Esteves
content/so/** @rajnikantdhardwivedi7

# TC - Main maintainer João Rocha
content/tc/** @rajnikantdhardwivedi7
